/IEnumerable.class
/IEnumerator.class
/IMFDocumentNode.class
/IMFNode.class
/MFAttribute.class
/MFDocument.class
/MFElement$ArrayListAsEnumerable$Enumerator.class
/MFElement$ArrayListAsEnumerable.class
/MFElement.class
/MFEmptySequence$Enumerator.class
/MFEmptySequence.class
/MFNode.class
/MFNodeByKindAndQNameFilter$Enumerator.class
/MFNodeByKindAndQNameFilter.class
/MFNodeByKindFilter$Enumerator$ContentNode.class
/MFNodeByKindFilter$Enumerator.class
/MFNodeByKindFilter.class
/MFSingletonSequence$Enumerator.class
/MFSingletonSequence.class
/MFTextNode.class
/SequenceFactory.class
/SequenceJoin$Enumerator.class
/SequenceJoin.class
