/ColumnSpecification.class
/Header.class
/IRecordBasedParserObserver.class
/ISerializer.class
/MappingException.class
/Record.class
/RecordBasedParser.class
/Serializer.class
/StringList.class
/Table.class
