@mixin bbr_gallery
{

   
   /*Gallery Item*/
   .bbr-gallery-item{
   		padding : 5px; 
   	}
   
   .bbr-gallery-item-selected{
   		border: 1px solid #3a7999;
   	}
   
    .bbr-gallery-item:hover{
   		background: rgba(0,0,0,0);
		color: #3a7999;
		box-shadow: inset 0 0 0 3px #3a7999;
		cursor: pointer;
   	}
}
