@mixin bbr_title_window 
{
	//******************************************************
	//************* Beginning TitleWindows Styles **********
	//******************************************************
	.v-window-closebox:before {
		font-family: arial, sans-serif;
		content: url("/BBRe-commerce/VAADIN/themes/irsb2blinkportalweb/assets/images/buttons/icon_close.png");
	}
	
	.v-window-closebox {
		background: #E81123;
		color: #ddd;
		font-size: 16px;
		font-weight: normal;
		line-height: 20px;
		text-align: center;
		width: 20px;
		height: 20px;
		top: 10px;
		right: 10px;
	}
	
	.v-window-closebox:hover {
		color: #fff;
	}
	
	.v-window-closebox:active {
		color: #ddd;
		background: #000;
	}
	
	.v-window-modalitycurtain {
		opacity: 0.7;
		filter: alpha(opacity=70);
		
		background: #353637;
	}
	
	.v-window-outerheader{
		background: #5992C7; 
	}
	
	.v-window-header{
		color:#fff;
		font-weight: bold; 
	}
	
	.window-formats{
		padding: 20px; 
	}

	.v-window-maximizebox:before {
		content: '';
	}
	
	.v-window-maximizebox {
		background: url("/BBRe-commerce/VAADIN/themes/irsb2blinkportalweb/assets/images/buttons/icon_maximize.png");
		background-position-y: 12px;
		background-size:15px;
		background-repeat: no-repeat;
	}


	.v-window-restorebox:before {
		content: '';
	}

	.v-window-restorebox
	{
		background:  url("/BBRe-commerce/VAADIN/themes/irsb2blinkportalweb/assets/images/buttons/icon_restore.png");
		background-position-y: 12px;
		background-size:15px;
		background-repeat: no-repeat;
	}

	
	
	//******************************************************
	//************* Ending TitleWindows Styles *************
	//******************************************************
	 
}


