@mixin login 
{
	
	.login-left-panel {        
	    background-color:#ffffff;	    
	}
	
	.login-main-panel{
		border-style: none;	
		box-shadow: none;	
	}
	
	.login-logo {        
	    text-align: center;	    
	}

	.login-fields {        
		width: 240px !important;
		margin-left: -20px;    
	}
	
	.login-image-float{
		position: fixed;
		margin-left: -60px;
		top: 80px;
	}
	
	.pnlFooter{
		background-color:#444444;
		color:#FFFFFF;
		font-size:11px;
		font-weight:bold;
	}
	.lblFooter{
		text-align:center;
	}
	.lblInfo{
		font-size:14px;
		text-align:justify;
		padding:20px;
	}
	.emailLink{
		
	}
	.loginInputText {
		height:28px;
		font-size:12px;
		width:100%;
	}
	.btn-login {
		height:30px;
		font-size:15px;
		font-weight : normal;
		width: 100%;
		box-shadow: unset;
		border-radius: 5px;
		border: 1px solid #529d31;
		border-top-color: #529d31;
		border-bottom-color: #529d31;
		background-color: #529d31;
		background-image: -webkit-linear-gradient(top, #529d31 2%, #529d31 98%);
		background-image: -moz-linear-gradient(to bottom,#529d31 2%, #529d31 98%);
		text-transform: uppercase;
		
	}	
	.link-button {
	   	font-size:12px;
	   	border: none;
	    box-shadow: none;
	    background: transparent;
	    cursor: pointer;
	    color: #059ae5;
	    text-decoration: underline;
	    transition: color 140ms;
	    padding:0;
	}	
	.link-button:hover {
	    color: #12b0ff;
	}	
	.link-button:hover:after {
		background-color: transparent;
	}	
	.link-button:focus {
	    outline: none;
	}
	.link-button:focus:after {
	    box-shadow: none;
	}
	
	.panel-system-info{
		padding-left: 30px;		
	}		

	.login-link-button {
	   	font-size:12px;
	   	border: none;
	    box-shadow: none;
	    background: transparent;
	    cursor: pointer;
	    color: #585858;
	    text-decoration: underline;
	    transition: color 140ms;
	    padding:0;
	}	
	.login-link-button:hover {
	    color: #606060;
	}	
	.login-link-button:hover:after {
		background-color: transparent;
	}	
	.login-link-button:focus {
	    outline: none;
	}
	.login-link-button:focus:after {
	    box-shadow: none;
	}
	
}



